{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">

            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Menu</button>

            <div class="offcanvas offcanvas-start position-fixed" style="width: 200px;" data-bs-scroll="true"
                data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-center" id="offcanvasScrollingLabel">Dashboard</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <a href="{% url 'schoolsetup' %}" class="btn btn-secondary d-block mb-2">School Setup</a>
                    <a href="{% url 'viewhomecontent' %}" class="btn btn-secondary d-block mb-2">Home Content</a>
                    <a href="{% url 'viewsocials' %}" class="btn btn-secondary d-block mb-2">Social</a>
                    <a href="{% url 'viewabout' %}" class="btn btn-secondary d-block mb-2">About</a>
                    <a href="{% url 'viewvision' %}" class="btn btn-secondary d-block mb-2">Vision</a>
                    <a href="{% url 'viewmission' %}" class="btn btn-secondary d-block mb-2">Mission</a>
                    <a href="{% url 'viewmessagefrom' %}" class="btn btn-secondary d-block mb-2">Message From</a>
                    <a href="{% url 'viewblogs' %}" class="btn btn-secondary d-block mb-2">Blogs</a>
                    <a href="{% url 'viewgallery' %}" class="btn btn-secondary d-block mb-2">Gallery</a>
                    <a href="{% url 'viewcarrers' %}" class="btn btn-secondary d-block mb-2">Carrers</a>
                    <a href="{% url 'viewnotices' %}" class="btn btn-secondary d-block mb-2">Notice</a>
                    <a href="{% url 'viewpopups' %}" class="btn btn-secondary d-block mb-2">Popup Message</a>
                    <a href="{% url 'viewfaqs' %}" class="btn btn-secondary d-block mb-2">FAQs</a>
                    <a href="{% url 'viewcourses' %}" class="btn btn-secondary d-block mb-2">Courses</a>
                    <a href="{% url 'viewtestimonials' %}" class="btn btn-secondary d-block mb-2">Testimonial</a>
                    <a href="{% url 'viewteammembers' %}" class="btn btn-secondary d-block mb-2">Team Members</a> 
                    <a href="{% url 'viewcontacts' %}" class="btn btn-secondary d-block mb-2">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">

            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
                id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Admin Dashboard</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">Home Content</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>
                    <a href="#" class="btn btn-secondary">School Setup</a>

                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}