{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>

    .image-container {
        display: flex;
        align-items: center;
        /* Vertically center the content */
        justify-content: center;
        /* Horizontally center the content */
        height: auto;
        /* Automatically adjust height based on content */
        max-height: 225px;
        /* Set a maximum height for the image container */
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }

    .img-containercal {
        max-height: 80vh;
        width: 100%;
        overflow: hidden;
    }

    .carousel {
        position: relative;
        width: 400px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slides img {
        width: 100%;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 100;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
</style>


<!--  -->

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var currentModalIndex = 0;
        var modals = document.querySelectorAll('.modal');

        function showNextModal() {
            if (currentModalIndex < modals.length) {
                $(modals[currentModalIndex]).modal('show');
                currentModalIndex++;
            } else {
                currentModalIndex = 0;
            }
        }

        modals.forEach((modal) => {
            $(modal).on('hidden.bs.modal', showNextModal);
        });

        // Call showNextModal() when the page loads
        showNextModal();
    });
</script>



<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable">
    {% for modal in pdata %}
    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{modal.title}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{modal.body}}</p>
                    {% if modal.image %}
                    {% if modal.image.url %}
                    <img src="{{ modal.image.url }}" alt="">
                    {% endif %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--  -->

<div class="container-xxl bg-white p-0">
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="row owl-carousel"> <!-- header-carousel position-relative-->
            <!-- <div class="col-8 owl-carousel-item position-relative">
                <div class="img-container">
                    <img class="img-fluid" src="{{home_content.banner_image.url}}" alt="">
                </div>
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown mb-4">{{home_content.title_text}}
                                </h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">{{home_content.sub_text}}</p>
                                <a href="{{home_content.button_url}}"
                                    class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">{{home_content.button_text}}</a>
                                <a href=""
                                    class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">{{data.address}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-8">
                <div class="text-center">
                    <h2>Our Students Creativity</h2>
                </div>
                {% if blogdata %}
                {% for blog in blogdata|slice:":2" %}
                <div class="card mb-3" style="max-width: 800px;">
                    <div class="row g-0">
                        <div class="col-md-7 image-container">
                            <img src="{{ blog.image.url }}" class="img-fluid rounded-start" alt="{{ blog.title }}"
                                width="100%" height="">
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <a href="{% url 'blog' blog.slug %}">
                                    <h5 class="card-title">{{ blog.title|capfirst }}</h5>
                                </a>
                                <p class="card-text">{{ blog.content|safe |slice:"150" }}....</p>
                                <a href="{% url 'blog' blog.slug %}">Read more...</a>
                                <p class="card-text"><small class="text-body-secondary">
                                        Published At: {{blog.created_at}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="text-center">
                    <a href="{% url 'blogs' %}">View More...</a>
                </div>
            </div>

            <!-- calendar -->
            <div class="col-4">
                <div class="calender text-center">
                    <h2>Calendar</h2>

                    <div class="carousel">
                        <div class="slides">

                            {% if calendardata %}
                            {% for calendar in calendardata %}
                            {% if calendar.is_default %}
                            <img src="{{ calendar.calendar.url }}" alt="Slide" data-is-default="true">
                            {% else %}
                            <img src="{{ calendar.calendar.url }}" alt="Slide" data-is-default="false">
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                        </div>
                        <button class="prev" onclick="prevSlide()">&#10094;</button>
                        <button class="next" onclick="nextSlide()">&#10095;</button>
                    </div>
                </div>
            </div>
            <!--  -->
         

            <!--  -->
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Facilities Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">School Facilities</h1>
                <p></p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="facility-item">
                        <div class="facility-icon bg-primary">
                            <span class="bg-primary"></span>
                            <i class="fa fa-bus-alt fa-3x text-primary"></i>
                            <span class="bg-primary"></span>
                        </div>
                        <div class="facility-text bg-primary">
                            <h3 class="text-primary mb-3">School Van</h3>
                            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, ipsa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="facility-item">
                        <div class="facility-icon bg-success">
                            <span class="bg-success"></span>
                            <i class="fa fa-futbol fa-3x text-success"></i>
                            <span class="bg-success"></span>
                        </div>
                        <div class="facility-text bg-success">
                            <h3 class="text-success mb-3">Playground</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ullam?</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="facility-item">
                        <div class="facility-icon bg-warning">
                            <span class="bg-warning"></span>
                            <i class="fa fa-home fa-3x text-warning"></i>
                            <span class="bg-warning"></span>
                        </div>
                        <div class="facility-text bg-warning">
                            <h3 class="text-warning mb-3">Healthy Canteen</h3>
                            <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="facility-item">
                        <div class="facility-icon bg-info">
                            <span class="bg-info"></span>
                            <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                            <span class="bg-info"></span>
                        </div>
                        <div class="facility-text bg-info">
                            <h3 class="text-info mb-3">Positive Learning</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, molestiae.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facilities End -->


    <!-- About Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-4">Learn More About Our Work And Our Cultural Activities</h1>
                    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                        Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam
                        rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus
                        dolor eos, ipsum labore duo duo sit no sea diam. Et dolor et kasd ea. Eirmod diam at dolor
                        est vero nonumy magna.</p>
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-6">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt=""
                                    style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 class="text-primary mb-1">Jhon Doe</h6>
                                    <small>CEO & Founder</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="img-fluid w-75 rounded-circle bg-light p-3" src="img/about-1.jpg" alt="">
                        </div>
                        <div class="col-6 text-start" style="margin-top: -150px;">
                            <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-2.jpg" alt="">
                        </div>
                        <div class="col-6 text-end" style="margin-top: -150px;">
                            <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- About End -->


    <!-- Call To Action Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded" src="../static/img/call-to-action.jpg"
                                style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">
                            <h1 class="mb-4">Become A Teacher</h1>
                            <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
                                amet diam et eos.
                                Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore
                                erat amet
                            </p>
                            <a class="btn btn-primary py-3 px-5" href="">Get Started Now<i
                                    class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Call To Action End -->


    <!-- Classes Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">School Classes</h1>
                <p></p>
            </div>
            <div class="row g-4">

                {% for courses in cdata %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="classes-item">
                        <div class="bg-light rounded-circle w-75 mx-auto p-3">
                            <img class="img-fluid rounded-circle" src="{{courses.image.url}}" alt="">
                        </div>
                        <div class="bg-light rounded p-4 pt-5 mt-n5">
                            <a class="d-block text-center h3 mt-3 mb-4" href="">{{courses.name}}</a>
                            <div class="row g-1">
                                <div class="col-2">
                                    <div class="border-top border-3 border-primary pt-2">
                                    </div>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="border-top border-3 border-warning pt-2">
                                        <h6 class="text-warning mb-1">Faculty:</h6>
                                        <small>{{courses.faculty}}</small>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="border-top border-3 border-success pt-2">
                                        <!-- <h6 class="text-success mb-1">Time:</h6> -->
                                        <!-- <small>9-10 AM</small> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Classes End -->


    <!-- Team Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Popular Teachers</h1>
                <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
                    eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded-circle w-75" src="../static/img/team-1.jpg" alt="">
                        <div class="team-text">
                            <h3>Full Name</h3>
                            <p>Designation</p>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded-circle w-75" src="../static/img/team-2.jpg" alt="">
                        <div class="team-text">
                            <h3>Full Name</h3>
                            <p>Designation</p>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded-circle w-75" src="../static/img/team-3.jpg" alt="">
                        <div class="team-text">
                            <h3>Full Name</h3>
                            <p>Designation</p>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">What Our Well Wishers Says!</h1>
                <p></p>
            </div>

            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                {% for tmsg in tedata %}
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">{{tmsg.testimonial}}</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{{tmsg.image.url}}"
                            style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">{{tmsg.name}}</h3>
                            <span>{{tmsg.position}}</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet
                        dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="../static/img/testimonial-2.jpg"
                            style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Client Name</h3>
                            <span>Profession</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div> -->

                <!-- <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet
                        dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="../static/img/testimonial-3.jpg"
                            style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Client Name</h3>
                            <span>Profession</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <div class="row justify-content-center">

        <div class="col-lg-6">
            <div class="content-wrap">
                <div class="section-title-wrapper">
                    <h4 class="section-title text-center mb-5">FAQs</h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-12 mb-5">
                            <div class="accordion-wrapper style-02">
                                <!-- accordion wrapper -->
                                <div id="accordionOne">
                                    {% for faq in fdata %}
                                    <div class="card mb-2">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a class="collapsed" role="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne{{faq.id}}" aria-expanded="false"
                                                    aria-controls="collapseOne{{faq.id}}">
                                                    {{faq.question}}
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne{{faq.id}}" class="collapse" data-bs-parent="#accordionOne">
                                            <div class="card-body">
                                                {{faq.answer}}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let currentIndex = 0;
    const slides = document.querySelector('.slides');
    const totalSlides = document.querySelectorAll('.slides img').length;
    let slideWidth = document.querySelector('.slides img').clientWidth;


    function prevSlide() {
        if (currentIndex > 0) {
            currentIndex--;
            updateSlide();
        }
    }

    function nextSlide() {
        if (currentIndex < totalSlides - 1) {
            currentIndex++;
            updateSlide();
        }
    }

    function updateSlide() {
        slideWidth = document.querySelector('.slides img').clientWidth;
        slides.style.transform = `translateX(-${slideWidth * currentIndex}px)`;
    }

</script>
{% endblock %}