{% extends 'dash.html' %}
{% load static %}
{% block content %}


<div class="container-xxl bg-white p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>Testimonial List</h2>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="{% url 'addtestimonial' %}">Add</a>
            </div>
        </div>


        <div class="row mt-5">
            {% for tmsg in tedata %}
            <div class="col mb-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{tmsg.name}}</h5>
                            <p>{{tmsg.testimonial}}</p>
                            <a href="{% url 'edittestimonial' tmsg.id %}">Edit</a>
                            <a href="{% url 'deletetestimonial' tmsg.id %}">Delete</a>
                        </div>
                        <b>{{tmsg.created_at}}</b>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</div>
{% endblock %}